* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Romans", Times, Serif;
}

/*Header_section*/

nav {
  display: flex;
  background-color: #5f8a2a;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav > .logo {
  padding: 10px 40px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  align-items: center;
  font-size: 15px;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav > .tel {
  padding-right: 60px;
}

/* Hero_Section*/

.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(Assets/Images/photo_3_2026-07-24_16-06-29.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  min-height: 70lvh;
  display: flex;
  align-items: center;
  line-height: 8lvh;
}

.hero-content {
  padding: 10px 40px;
  width: 200%;
  max-width: 1000px;
}

.hero h1 {
  font-size: 20px;
  font-weight: lighter;
}

.hero .heading {
  font-size: 35px;
  text-transform: capitalize;
}

.hero p {
  font-size: 25px;
  width: 80%;
  max-width: 1000px;
}

.hero button {
  background-color: #5f8a2a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0px 10px;
  margin-top: 20px;
  word-spacing: 2px;
  letter-spacing: 2px;
  cursor: pointer;
}

button :hover {
  background-color: white;
  color: #5f8a2a;
  transition: 2s ease;
}

/* About_Section

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
  padding: 40px;
  width: 100%;
}

.about-left-content {
  position: relative;
  width: 50%;
  min-height: 450px;
}

.about-left-content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
}

.about-left-content img:first-child {
  top: 0;
  left: 0;
  z-index: 1;
}

.about-left-content img:last-child {
  top: 100px;
  left: 150px;
  z-index: 2;
}
.about-right-content {
  
}